/* I use chatGPT to assist in creating and building some code. This includes the scaling of the navigation bar buttons, the frosted background frame, and its transformation animations. I have made improvements and adjustments to the code as necessary */

/* All the music on the website is provided through the content in this link: https://pixabay.com/zh/music/search/%e6%ac%a2%e5%bf%ab%e7%9a%84%e8%83%8c%e6%99%af%e9%9f%b3%e4%b9%90/ */

/* background video is provided in this  link: https://pan.baidu.com/s/1ReuyZAyj-O4INsje3foORQ   （7777）*/

/* BUTTON CODE HTTPS: https://b23.tv/VB123fP */

.content {
  width: 80%;
  margin: 0 auto;
  perspective: 1000px; /* 添加透视效果以增强3D效果 */
}

.box {
  background-color: rgba(43, 43, 43, 0.5); /* 半透明背景 */
  backdrop-filter: blur(20px); /* 毛玻璃效果 */
  width: 100%;
  height: auto;
  margin-bottom: 100px;
  margin-top: 200px;
  transition: transform 0.6s ease, filter 0.6s ease;
  transform-origin: center center; /* 设置变换的原点为中心 */
  transform: scale(0.5);
  filter: blur(4px);
  padding-bottom: 60px;
  padding-top: 60px;
}


/* 当鼠标悬停时取消模糊效果 */
.box:hover {
  filter: none;
}
